.second-d1{
    color: blue;}
div{
    color: red;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0%;
    padding: 0%;
    background-color: azure;
    
    
}

.container h1{
    text-align: center;
}
.container h2{
    text-align: center;
}
.container h5{
    text-decoration:none;
    font-size: 18px;
    color: darkgoldenrod;
    transition:color 0.3s ease;
}


